<footer class="page-footer font-small bg-secondary pt-4 ">
<div class="comtainer">
  <div class="row ">
    <div class="col md-12 d-flex justify-content-center ">
      <h4 class="text white"> Segue nois...</h4>


    </div>

  </div>
  <div class="row">
    <div class= "col-md-12 d-flex justify-content-center">
      <ul class="redes-sociais  ">
        <li>
          <a href="https://open.spotify.com/playlist/1xY6msLHX1W34EzB0UkkbU" target="_blank " class="iconSpotfy"

          ><i class="fa fa-spotify" aria-hidden="true"></i></a>

        </li>

        <li>
          <a href="https://www.instagram.com/luiz_rmartins/" target="_blank " class="iconInsta"

          ><i class="fa fa-instagram" aria-hidden="true"></i></a>

        </li>



      </ul>

    </div>
  </div>
</div>

<div class="footer-copyrigth bg-dark text-center py-3">
  <span class="text-light"> &copy; Luiz Martins</span>

</div>

</footer>
